<% extend 'layout.ect.html' %>

<% block 'head' : %>
  <script src="/javascripts/restaurant_vote_notification.js"></script>
<% end %>

<% if @req.locals.user.get('admin') : %>
  <a href="/restaurants/new">Create Restaurant</a>
<% end %>

<div class="restaurants">
  <div class="clearfix">
    <div class="notify_me">
      Checkbox: Notify via email when this wins voting
    </div>
  </div>
  <% @restaurants.each (restaurant) => : %>

  <div>
    <div class="notify_me" >
      <% console.log restaurant.related('notifications'), restaurant.relations %>
      <input type="checkbox" data-id="<%- restaurant.id %>" <%- restaurant.related('notifications')?.at(0) && 'checked' %> />
    </div>
    <div class="restaurant_row">
      <% if @req.locals.user.get('admin') : %>
        <a class="edit_restaurant" href="/restaurants/<%- restaurant.id %>">Edit</a>
      <% end %>
      <h4>
        <a href="<%- restaurant.get('menu_url') %>">
          <%- restaurant.get('name') %>
        </a>
      </h4>
      -- <%- restaurant.get('notes') %>

    </div>
  </div>
  <% end %>
</div>
