doctype 5
html
  head
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js")
    block head
    title= title
  body
    .page-wrapper
      .header
        img(src='/images/pacman.png')
        h1
          a(href="/") Group Lunches
      .content
        block content
