extends layout

block content
  p Group Lunch: #{title}

  table.orderTable
    thead
      td Name
      td Order
      td Price
    tr
      td Mary
      td Kung Po Chicken
      td $7.99
    
  p
      a(href="/grouplunch/#{id}/neworder") Add your order
