extends layout

block content
  p Group Lunch: #{title}

  table.orderTable
    thead
      td Name
      td Order
      td Price
    tr
      td Mary
      td Kung Po Chicken
      td $7.99
    
  p
    Add your order here:
      a(href="/grouplunch/#{id}") http://#{SERVER_HOST}/lunch/#{id}/neworder
