doctype 5
html
  head
    block head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    .page-wrapper
      .header
        img(src='/images/pacman.png')
        h1
          a(href="/") Group Lunches
      .content
        block content