<% extend 'layout.ect.html' %>

<div class="lunches columned">
  <div>
      <a class="floatright create_link" href="/lunches/new">Create a new lunch group</a>
  </div>

  <h2>Today's Lunches</h2>

  <div class="gold_description">
    <% if @req.locals.user : %>
      Welcome <%- @req.locals.user.get('first_name') %>,
    <% end %>
    Here's where you do the lunch thing.
  </div>

  <%- if !@lunches?.length then 'No Lunches yet' %>
  <% @lunches.each (lunch) => : %>

    <div class="lunch_row" attr-lunch_id="<%- lunch.id %>">
      <h4> 
        <span class="created_user"><%- lunch.related('user').fullName() %></span>
        <% if lunch.get('user_id') is @req.session.user_id or @req.locals.user.get('admin') : %>
          <a class="edit_lunch" href="/lunches/<%- lunch.id %>">Edit</a>
          <% if not lunch.get('restaurant_id') : %>
            <a
              class="edit_lunch"
              href="/lunches/<%- lunch.id %>/tally"
              onclick="javascript:return confirm('This will prevent others from voting')">
                Tally Votes
            </a>
          <% end %> 
        <% end %> 

        <a name="lunch<%- lunch.id %>" class="white_link" href="/lunches/<%- lunch.id %>/orders">
          <%- lunch.get('name') %>
        </a>
      </h4>

      <% if lunch.get('restaurant_id') : %>
        <% if lunch.get('food_arrived') : %>
          <h5> Waaay too late to order.</h4>
          <h3> <%- lunch.related('restaurant').get('name') %> food is in the building! </h3>
          <a class="order_link" href="/lunches/<%- lunch.id %>/orders">View Order</a>
        <% else if lunch.get('closed') : %>
          <h5> Too late to add more food.</h4>
          <h3> <%- lunch.related('restaurant').get('name') %> is being called/picked up! </h3>
          <a class="order_link" href="/lunches/<%- lunch.id %>/orders">View Order</a>

        <% else : %>
          <h5> The results are in.</h4>
          <h3> <%- lunch.related('restaurant').get('name') %> is the winner! </h3>
          <a class="order_link" href="/lunches/<%- lunch.id %>/orders">Order</a>
        <% end %>

      <% else : %>
        <% @lunch = lunch %>
        <% include 'lunches/vote.ect.html' %>
        <% include 'lunches/comments.ect.html' %>
      <% end %>

    </div>
  <% end %>


</div>
