<% extend 'layout.ect.html' %>

<% block 'head' : %>
  <script src="/javascripts/orders_edit.js"></script>
<% end %>

<form class="orders" action="/lunches/<%- @lunch.id %>/orders<%- @order?.id && ('/' + @order?.id) %>" method="post">

  <div class="previous_foods">
    <h4>Previous orders at this restaurant</h4>
    <% @lunch.related('restaurant').related('foods').each (food) => : %>
      <div class="previous_food">
        <input class="price" type="hidden" value="<%- food.get('price') %>" />
        <input class="name" type="hidden" value="<%- food.get('name') %>" />
        <div class="price">
          <%- food.get('price') %>
        </div>
        <div class="name">
          <%- food.get('name') %>
        </div>
      </div>
    <% end %>
  </div>
  
  <h3><%- (@order? && 'Edit') || 'New' %> Order</h3>
  <div class="restaurant_inputs">
    <input value="<%- @order?.get('food') %>" autofocus name="food" placeholder="food" />
  </div>
  
  <div class="restaurant_inputs">
    <input value="<%- @order?.get('price') %>" autofocus name="price" placeholder="price" />
  </div>

  <input type="submit" value="Save" />

</form>
