<% if @lunch.get('user_id') == @req.session.user_id or @req.session.admin : %>
  <% if @lunch.get('closed') : %>
    <% if @lunch.get('food_arrived') : %>
      <div class="food_arrived_message">
        YOU TOLD EVERYONE "FOOD IS HERE". HOORAY!
      </div>
    <% else : %>
      <a class="remove_link" href="/lunches/<%- @lunch.id %>/food_arrived" onclick="javascript: return confirm('click only once');">
        SEND EMAIL FOOD HERE
      </a>
    <% end %>
  <% else : %>
    <a class="remove_link" href="/lunches/<%- @lunch.id %>/close" onclick="javascript: return confirm('This will stop anyone from adding anything to the order')">
      Close Order
    </a>
  <% end %>
<% end %>

<div class="lunch_restaurant_description">
  <a class="create_link" href="<%- @lunch.related('restaurant').get('menu_url') %>" target="_blank">
    Menu
  </a>
  <h2>
    <%- @lunch.related('restaurant').get('name') %> 
  </h2>
  <% if @lunch.related('restaurant').get('notes') : %>
    <div class="description_container">
      <strong>Restaurant Description:</script>
      <div class="description_content">
        <%- @lunch.related('restaurant').get('notes') %>
      </div>
    </div>
  <% end %>
</div>

<div class="orders">
  <% if @lunch.get('closed') : %>
    <div class="closed_message">
      <%- @content.order_closed %>
    </div>
  <% else : %>
    <div class="add_food_container">
      <a class="create_link" href="/lunches/<%- @lunch.id %>/foods/new">
        Add
      </a>
      <div>
        <span style="font-size: 14px">Food</span>
        <br />Add each item separately
      </div>
    </div>
  <% end %>

  <% price = 0 %>
  <% @orders.each (order) => : %>
    <div class="order_item">
      <h4><%- order.related('user').fullName() %></h4>

      <% order.related('foods').each (food) => : %>
        <% price += food.get('price') %>

        <div class="food_item">
          <div class="price"><%- food.get('price').toFixed(2) %></div>
          <div class="name">
            <strong><%- food.get('name') %></strong>
            <% if !@lunch.get('closed') and (order.get('user_id') is @req.session.user_id or @req.session.admin): %>
              <a class="edit_link" href="/lunches/<%- @lunch.id %>/foods/<%- food.id %>">edit</a>
              <a class="edit_link" 
                onclick="javascript: return confirm('are you sure?');" 
                href="/lunches/<%- @lunch.id %>/foods/<%- food.id %>/destroy">destroy</a>
            <% end %>
            <br />
            <%- food.get('notes') %>
          </div>
        </div>
      <% end %>

      <div class="food_item">
        <div class="price"><%- (order.get('price') * .055).toFixed(2)  %></div>
        <div class="name">tax</div>
      </div>
      <div class="food_item">
        <div class="price"><%- (order.get('price') * 1.055).toFixed(2) %></div>
        <div class="name">total</div>
      </div>

    </div>
  <% end %>
  <div class="order_item">
    <h2>Order</h2>
    <div class="food_item">
      <div class="price"><%- (price * .055).toFixed(2) %></div>
      <div class="name">tax</div>
    </div>
    <div class="food_item">
      <div class="price"><%- (price * 1.055).toFixed(2) %></div>
      <div class="name">total</div>
    </div>
  </div>

</div>
