body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.header {
  
  padding: 40px 0;
  border-bottom: 2px solid #f1f2f8;

}

.contained {
  max-width: 1000px
}

/*styling for order table*/
.orderTable
{
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
    font-size: 12px;
    margin: 10px;
    width: 480px;
    text-align: left;
    border-collapse: collapse;
}
.orderTable th
{
    font-size: 13px;
    font-weight: normal;
    padding: 8px;
    background: #b9c9fe;
    border-top: 4px solid #aabcfe;
    border-bottom: 1px solid #fff;
    color: #039;
}
.orderTable td
{
    padding: 8px;
    background: #e8edff; 
    border-bottom: 1px solid #fff;
    color: #669;
    border-top: 1px solid transparent;
}
.orderTable tr:hover td
{
    background: #d0dafd;
    color: #339;
}

/*styling for order form*/
.order-form {
}

.block {
    display: block
}

div.inline {
    float: left
}
