body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.header {
  
  padding: 40px 0;
  border-bottom: 2px solid #f1f2f8;

}

.contained {
  max-width: 1000px
}

.orderTable {
  border: 1px solid black;
  border-collapse:collapse;
}

.orderTable td,th{
  border: 1px solid black;
}

.order-form[name=item_number] {
  width: 70px
}

.order-form[name=name] {
  width: 300px
}

.order-form[name=price] {
  width: 90px
}

.block {
    display: block
}

.inline {
    display: inline
}
