extends ../layout

block content
  
  h1 Add Your Order
  form(action='/lunches/#{lunch_id}/orders',method='post')
    fieldset(data-role='controlgroup')
      input(type='hidden', name='lunch_id', value="#{lunch_id}")
      div.inline
        label.block(for='user') Your name
        input.block(id='user', type='text', value='', size='32', placeholder='ex: Shahrukh Kahn', name='user')
      div.inline
        label.block(for='description') Order
        input.block(id='description',type='text',value='',size='32',placeholder='ex: chicken sandwich',name='description')
      div(data-role='fieldcontain')
        br
        input(type='submit',value='Add',data-transition='fade', data-theme='c')