extends ../layout

block content
  
  h1 Add Your Order
  form(action='/lunches/#{lunch_id}/orders',method='post')
    fieldset(data-role='controlgroup')
      div.inline
        label.block(for='user') Your name
        input.block(id='user', type='text', value='', size='32', placeholder='ex: Shahrukh Kahn', name='user')
      div.inline
<<<<<<< HEAD
        label.block(for='description') Order
        input.block(id='description',type='text',value='',size='32',placeholder='ex: chicken sandwich',name='description')
      div(data-role='fieldcontain')
=======
        label.block(for='item_number') Item#
        input.block(id='item_number',type='text',value='',size='4', placeholder='ex: L5',name='item_number')
      div.inline
        label.block(for='name') Menu Name
        input.block(id='name',type='text',value='',size='32',placeholder='ex: chicken sandwich',name='name')
      div.inline
        label.block(for='price') Price
        input.block(id='price',type='text',value='',size='6',placeholder='ex: 5.99',name='price')
      div.block(data-role='fieldcontain')
        br
>>>>>>> c9819647c4841bc9524e91a8f3b2ac6fa6bf1d5e
        input(type='submit',value='Add',data-transition='fade', data-theme='c')
