<% extend 'layout.ect.html' %>

<% block 'head' : %>
  <script src="/javascripts/orders_edit.js"></script>
<% end %>

<form class="orders" action="/lunches/<%- @lunch.id %>/foods<%- @food?.id && ('/' + @food?.id) %>" method="post">

  <h3><a href="/lunches/<%- @lunch.id %>/orders"><%- @lunch.get('name') %></a></h3>
  <div class="previous_foods">
    <h4>
      Previous orders at <%- @lunch.related('restaurant').get('name') %>
      (<a target="_blank" href="<%- @lunch.related('restaurant').get('menu_url') %>">
        menu
      </a>)
    </h4>
    <% @lunch.related('restaurant').related('foods').each (food) => : %>
      <div class="previous_food">
        <input class="price" type="hidden" value="<%- food.get('price') %>" />
        <input class="name" type="hidden" value="<%- food.get('name') %>" />
        <div class="price">
          <%- food.get('price')?.toFixed?(2) %>
        </div>
        <div class="name">
          <%- food.get('name') %>
        </div>
      </div>
    <% end %>
  </div>
  
  <h3><%- (@food? && 'Edit') || 'New' %> Food</h3>
  <% @body ?= @req.body ? {} %>
  <div class="restaurant_inputs">
    <input value="<%- @body?.name ? @food?.get('name') %>" autofocus name="name" placeholder="food" />
  </div>

  <div class="restaurant_inputs">
    <textarea name="notes" placeholder="notes -- wheat/white(bread) white/brown(rice) mild/hot(spicyness)" /><%- @body?.notes ? @food?.get('notes') %></textarea>
  </div>
  
  <div class="restaurant_inputs">
    <input value="<%- @body?.price?.toFixed?(2) ? @food?.get('price')?.toFixed?(2) %>" name="price" placeholder="price" />
  </div>

  <input type="submit" value="Save" />

</form>
