@import 'nib'

logo-blue = #214579
light-blue = #2f5c96

logo-red = #D46D1E
light-red = #FF8425

gray-link = #B8CFB6

pre
  margin: 5px
  padding 20px
  display block
  background #EEE
  code
    border 0
    background none

code
  background #EEE
  border 1px solid #CCC

logo_font()
  font-family: 'Peralta', cursive;

description_font()
  font-family: 'Varela Round', sans-serif;

header_font()
  font-family: 'Gilda Display', serif;

.logo_font
  logo_font()

.description_font
  description_font()

body, html
  padding 0
  margin 0

a
  color blue
  cursor pointer
  text-decoration none
  &:hover
    border-bottom-width: 1px
    border-bottom-style: solid

h1, h2, h3, h4, h5, h6
  header_font()


body
  description_font()
  background #D3E4EC
  color #607177

div, input, textarea, form
  box-sizing border-box

.header
  clearfix()
  background rgba(255,255,255,.1)
  .tagline
    float right
    color #2f5c96
    padding: 5px

.footer
  clearfix()
  padding: 10px
  color #D6DEE0
  background #70737C
  margin-top: 20px
  text-align center
  .copyright
    float left
    font-weight normal

  .footer_links
    float right
    a
      color: white

form
  input, textarea
    width: 100%
    padding: 5px

  [name=first_name], [name=last_name]
    width 49%
    float left

  [name=last_name]
    float right

  max-width: 500px
  margin: auto
  width: 50%
  padding: 10px


form.signup, form.login

  &.splash
    padding: 0 10px 10px
    float: right
    background white
    margin-top 10px
    border 7px solid #2f5c96

  .tiny_note
    padding 5px 0
    font-size: 11px

.gold_description
  margin-bottom: 10px
  padding: 5px 0
  border-top: 4px solid #ECECD0
  border-bottom: 4px solid #ECECD0


blockquote {
  background: #f9f9f9;
  border-left: 10px solid #ccc;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
}
blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}
blockquote p {
  display inline;
}

.logo
  padding: 10px
  logo_font()
  &:hover
    text-decoration none
  color: white

.navbar
  clearfix()
  text-align: center
  width: 100%
  
  color: white
  background #2C7ADF

  &.base
    clearfix()
    .login
      max-width: none
      float right
      text-align right
      div
        float left
        display inline-block
        padding: 10px 5px
      input
        width 200px


  a
    text-decoration none
    color: gray-link

  .navsection, .navmiddle
    padding: 10px
    display: inline-block
    display inline-block
  .navsection
    float left
    &.right
      float right

.navbar_container
  margin-bottom 30px

.header  
  min-height: 260px
  background: logo-blue
  padding: 10px
  img
    max-width: 100%
    height: auto
    width: auto\9

.markdown_content

  padding: 5px
  float left
  width 45%

  @media only screen and (max-width: 720px)
    max-width: 100%
  h1, h2, h3, h4, h5, h6
    color #4A6669

.notifications, .errors
  padding: 12px
  border-radius 15px
  list-style-type none

.notifications
  background #F4FFF5
  border 2px solid #6B9470

.errors
  background #FFF4F5
  border 2px solid #946B70

.account_links
  padding: 5px 0
  text-align right

.account_inputs
  padding: 5px 0


.content_main
  clearfix()

.learn_and_level
  margin-bottom: 10px
  clear: both
  background #2F5C96
  color #BBC8FF
  padding: 20px
  h1, h2, h3, h4, h5, h6
    color: white
  a
    color #98FD70

.columned
  max-width: 1024px
  margin: auto


.course_section
  h3
    color: #2A216B

.course_description
  font-size: 13px
  color: #2B6F28
  padding: 0 20px

.admin_lesson_edit
  width: 100%
  max-width none

  label
    display block

.edit_area
  clearfix()

.lesson_attributes
  float left

[name=contents]
  height: 500px
.preview
  float right
  overflow: auto
[name=contents], .preview
  height: 500px
  box-sizing border-box
  padding: 5px
  margin: 1%
  border: 0


.lesson_attributes, .preview
  width: 48%
  padding: 10px

.next_lesson_container
  
  background: #F1f1f2
  padding: 20px
  border: 1px solid #AAA
  margin: 10px 0

html {
  height: 100%;
}

body {
  color: #666;
  font: 11px/1.3em Arial, Tahoma, sans-serif;
  text-align: center;
  height: 100%;
}

div {
  box-sizing: border-box;
}

abbr {
  cursor: help;
}

.page-wrapper {
  width: 600px;
  min-height: 100%;
  margin: 0px auto;
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
  background: #eee;
  text-align: left;
}

.content {
  padding-left: 10px;
  padding-right: 10px;
}

h1 {
  margin: 5px;
  background-position: 0 0;
}

hr {
  display: block; height: 1px;
  border: 0; border-top: 1px solid #ccc;
  margin: 1em 0; padding: 0;
}

p {
  padding: 0 15px 5px;
  text-align: justify;
}

.supporting p {
  margin-right: 145px;
}

.summary p {
  padding: 3px 12px 0;
  text-align: left;
}

a:hover,a:active {
  color: white;
}


.header a {
  font-size: 170%;
  text-decoration: none;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  color:#eee;
}

.header a:hover,.header a:active {
  color:#eee;
}

.display-table {
  margin: 10px 0px;
  width: 100%;
  text-align: left;
  border-collapse: collapse;
}

.display-table th {
  font-weight: bold;
  padding: 8px;
  background: #b9c9fe;
  border-top: 4px solid #aabcfe;
  border-bottom: 1px solid #fff;
  color: #666;
}

.display-table td {
  padding: 8px;
  background: #e8edff;
  border-bottom: 1px solid #fff;
  color: #666;
  border-top: 1px solid transparent;
}

.display-table tr:hover td {
  background: #d0dafd;
  color: #214579;
}

.display-table .option-column {
  width:30px;
}


.button {
  -moz-box-shadow: inset 0px 1px 0px 0px #ffffff;
  -webkit-box-shadow: inset 0px 1px 0px 0px #ffffff;
  box-shadow: inset 0px 1px 0px 0px #ffffff;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf) );
  background: -moz-linear-gradient(center top, #ededed 5%, #dfdfdf 100%);
  background-color: #ededed;
  border: 1px solid #dcdcdc;
  display: inline-block;
  color: #666;
  font-weight: bold;
  height: 40px;
  line-height: 40px;
  width: 100px;
  text-align: center;
  text-shadow: 1px 1px 0px #ffffff;
  text-decoration: none;
  margin: 5px;
}

.button:hover {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #dfdfdf), color-stop(1, #ededed) );
  background: -moz-linear-gradient(center top, #dfdfdf 5%, #ededed 100%);
  background-color: #dfdfdf;
}

.button:active {
  position: relative;
  top: 1px;
}

a.button {
  text-decoration: none;
}

.copythis_section {
  margin: 5px 5px;
}

.copythis {
  margin: 20px 20px;
  padding: 5px;
  border-radius: 10px;
  width: 90%;
  box-sizing: border-box;
  outline: none;
}

.empty_section {
  border: 1px solid #c1c2c9;
  margin: 20px;
  padding: 10px;
}

.description {
  color: #999;
}

.floatright {
  float: right;
  display: inline-block;
}

.centered_container {
  text-align: center;
}

.centered {
  margin: auto;
  text-align: left;
}

.skinny_form {
  margin: 10px;
  max-width: 433px;
}

.bump_up {
  margin-top: -23px;
}

.order_paid {
  width: 60px
}

.pick_restaurant {
  float: right;
  cursor: pointer;
}

.lunch_title {
  display: inline-block;
}

.check_all_container {
  float: right;
}

h2 {
  margin-bottom: 10px;
}
  
.check_all_container label {
  margin-right: 5px;
}

.lunches
  background white
  padding: 0 10px
  border 7px solid #2f5c96
  margin 10px auto
  h1
    text-align left
    color logo-blue
    font-size: 15px

.lunch_row
  h4 
    clearfix()
  margin: 5px;
  padding-bottom: 10px
  .created_user
    float right
  border: 1px solid #ccc;
  h4
    text-align left
    background: light-blue
    padding: 10px
    color white
    font-size: 14px


.restaurant_voting {
  display: inline-block;
}

.done_voting {
  float: right;
}
.no_more {
  color: red;
}

.notification_setting
  text-align left
  border-bottom 1px solid logo-blue
  padding 5px
  margin-bottom 5px
  clearfix()
  input 
    width auto

    float right

.edit_restaurant
  float right

.restaurants
  max-width: 580px
  margin auto

.vote_section
  display: inline-block
  width: auto
  border: 1px solid logo-blue

.columned
  a:hover
    color: logo-blue
    border-bottom: 1px solid logo-blue

.create_link, .order_link, .remove_link
  
  display: inline-block
  padding: 5px 10px
  background: logo-blue
  color: white
  font-size: 16px
  font-weight bold
  margin: 10px
  &:hover
    color: white!important
    background: light-blue
    border-bottom 0!important

.remove_link
  background: logo-red
  &:hover
    background: light-red

.order_link
  background #DD914C
  &:hover
    background orange!important

.edit_lunch
  padding: 0 20px
  float right
  color: gray-link
  description_font()
  &:hover
    color white!important
    border-bottom 1px solid white!important

.price
  float right

.restaurant_row, .order_item
  max-width: 600px
  text-align left
  background white
  margin 2px auto
  border: 1px solid #ccc;
  padding: 10px;
  h4
    margin-top 0
  a:hover
    color: blue

.order_item
  border 0
  padding: 20px
  border-radius 29px
  box-shadow: 2px 2px #C5A2A2
  margin: 9px auto
  h4
    margin-top 0

  .price
    float right

  .food_item
    border-top: 2px solid #ffd700
    clearfix()
    padding: 10px 0
    .edit_link
      color: #f1f2f8
    &:hover
      .edit_link
        color: gray-link

.previous_foods
  border 1px solid gray-link
  padding: 5px
  margin 5px
  max-height: 300px
  overflow-y auto
  .previous_food
    cursor: pointer
    padding: 10px
    background: white
    margin 5px
  input
    border 0
  .price
    width: 50px
  .name
    width: 320px

.closed_message, .food_arrived_message
  background: #FF9283
  color: #8A4949
  box-shadow: 2px 2px #8A4949
  text-shadow 1px 1px #CACACA
  margin: 10px auto
  padding: 10px 15px
  max-width: 600px

.food_arrived_message
  background: #BEE9BE
  box-shadow: 2px 2px #49498A
  color: #49498A
  text-shadow 1px 1px #CACACA

.notify_me
  float left
  margin-top: 10px
  border: 1px solid orange

.clearfix
  clearfix()

.floatright
  float righ

.white_link
  color white
  &:hover
    color white!important

.popup_notification
  position: fixed
  bottom: 10px
  left: 10px
  background #478647
  border: green
  color white
  padding: 10px

.gl_name
  width: 110%
  padding: 20px
  font-size: 16px
  margin: 20px -20px
  margin-left: -20px

.add_food_container
  max-width: 600px
  margin auto
  border: 3px solid #84D5A1
  background #E2FFEC
  clearfix()
  a
    float right
    background: #3FA363
    &:hover
      background: #4BD47C
  div
    padding 10px
    text-align left

.lunch_restaurant_description

  background white
  box-shadow 1px 1px #F7B0B0
  border 1px solid #FD8D8D
  text-align left
  margin 20px auto
  max-width: 600px
  a
    &:hover
      color: blue
  a.create_link
    float right
    margin: 7px 4px
    background: #FF7C7C
    text-shadow: 1px 1px #CC0404
    &:hover
      background: #F5B2B2
    
  h2
    margin-top: 3px
    padding 10px
    background #FD4D4D
    color white
    text-shadow: 1px 2px #D12424
  
  .description_container
    clear both
    padding 5px
  .description_content
    padding 10px

.lunch_header
  text-shadow 1px 1px #FFF

.vote_progressbar
  width: 102px
  border: 1px solid gray
  margin auto
  background: gray

.vote_progressbar_inner
  height: 10px
  background: #3662B1


.paid_amount
  width: 100px
  float right
  margin: -4px 5px


.unvote
  color: #999
  border: 1px solid #999
  border-radius: 3px
  &:hover
    color: #555
